html,body{margin:1;padding:0}
body{font: 76% arial,sans-serif;text-align:center}
div#header{text-align:center}
div#header{background-color:#F3F2ED;}
div#container{text-align:center}
div#main p{line-height:1.4}
div#footer{background:#BFBD93;}
div#footer{clear:left;width:100%}
